.pillar__card {
  width: 80%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 2.6rem 0 var(--primary-shadow);
  display: flex;
  flex-direction: column;
  height: 42rem;
}

.pillar__img-container {
  height: 62%;
  position: relative;
}

.pillar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pillar__img-tag {
  position: absolute;
  align-items: center;
  gap: 0.7rem;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(10px);
  padding: 0.7rem 1rem;
  border-radius: 5rem;
}

.pillar__img-tag-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.pillar__img-tag-text {
  display: flex;
  gap: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.pillar__img-tag-text p {
  color: var(--teritory-text);
}

.pillar__text {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pillar__heading {
  font-size: 1.6rem;
  font-weight: 500;
}

.pillar__description {
  font-size: 1.4rem;
  color: var(--teritory-text);
}
