.loop-container {
  display: grid;
  overflow: hidden;
}

.img__slide-track {
  display: flex;
  gap: 1.7rem;
  width: calc((19.4rem + 1.7rem) * 16);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * (19.4rem + 1.7rem) * 8));
  }
}

.img__slide {
  height: 19.4rem;
  width: 13.6rem;
  border-radius: 10px;
  overflow: hidden;
}

.img__slide-vertical-track {
  display: none;
}

@media (min-width: 1280px) {
  .img__slide-track {
    display: none;
  }

  .loop-container {
    width: 60%;
    display: flex;
    gap: 2rem;
    overflow-y: hidden;
    padding: 0 2.4rem;
    position: relative;
  }

  .img__slide-vertical-track {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    height: calc((35.5rem + 1.7rem) * 8);
    position: relative;
  }

  .ttb-animation,
  .btt-animation {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
  }

  /* Left column - Top to Bottom */
  .ttb-animation {
    animation: scroll-vertical-ttb 40s linear infinite;
  }

  /* Right column - Bottom to Top */
  .btt-animation {
    animation: scroll-vertical-btt 40s linear infinite;
  }

  .img__slide {
    height: 35.5rem;
    width: 24.7rem;
    border-radius: 1.6rem;
    overflow: hidden;
  }

  @keyframes scroll-vertical-btt {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-1 * (35.5rem + 1.7rem) * 4));
    }
  }

  @keyframes scroll-vertical-ttb {
    0% {
      transform: translateY(calc(-1 * (35.5rem + 1.7rem) * 4));
    }
    100% {
      transform: translateY(0);
    }
  }
}
