.pillars__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 0 0 6rem;
}

.pillars__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  margin: 0 2rem 0;
}
.pillars__heading-text {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--secondary-text);
}

.pillars__heading--gradient {
  font-size: 1.8rem;
  font-family: Inter-Italic;
  /* letter-spacing: -1px;
  word-spacing: -5px; */
  font-style: italic;
  font-weight: 600;
  background: linear-gradient(to right, var(--red-color), var(--yellow-color));
  background-clip: text;
  color: transparent;
}

.pillars__heading-secondary-text {
  font-size: 1.5rem;
  color: var(--secondary-text);
}

.pillars__card-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: "smooth";
  -webkit-overflow-scrolling: "touch";
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem 6rem 1rem;
}

.pillars__card-buttons {
  display: none;
}

.pillars__card-index {
  display: none;
}

.shadow-box-3 {
  display: none;
}

@media (min-width: 1280px) {
  .pillars__container {
    max-width: 1280px;
    margin: 0 auto;
    align-items: start;
    padding: 0 2rem;
    position: relative;
  }

  .pillars__heading {
    align-items: start;
    gap: 1rem;
    width: 100%;
    margin: 0;
  }

  .pillars__heading-text {
    font-size: 1.6rem;
    display: flex;
  }

  .pillars__heading-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .pillars__card-index {
    display: flex;
    gap: 1rem;
  }

  .pillars__card-buttons {
    display: flex;
    gap: 1.4rem;
  }

  .pillars__card-buttons button {
    background-color: var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.6rem;
    width: 4.6rem;
    border-radius: 50%;
    border: 1px solid var(--secondary-border-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:active {
      background-color: var(--primary-border-color);
      scale: 0.95;
    }
  }

  .pillars__heading--gradient {
    font-size: 2.8rem;
  }

  .pillars__heading-secondary-text {
    font-size: 2.8rem;
  }

  .pillars__card-container {
    gap: 2.3rem;
    padding-top: 2rem;
  }

  .index {
    border-radius: 2.5rem;
    background-color: var(--primary-background);
    border: 0.8px solid var(--primary-border-color);
    padding: 0.5rem 1.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-border-color);
    }
    &:active {
      scale: 0.95;
    }
  }

  .index__text {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--secondary-text);
    transition: text 0.3s ease;
  }

  .index--active {
    background-color: var(--primary-text);
    .index__text {
      color: var(--primary-background);
    }
    &:hover {
      background-color: var(--primary-text);
    }
  }

  .shadow-box-3 {
    display: block;
    position: absolute;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-color: var(--teritory-shadow);
    filter: blur(10rem);
    top: -10rem;
    right: 0;
    z-index: -1;
  }
}
