.navbar__container {
  top: 0;
  left: 0;
  width: 100%;
  position: sticky;
  z-index: 1000;
  background-color: var(--primary-background);
}
.navbar {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.8rem 2rem;
  border-bottom: 1px solid var(--primary-border-color);
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__logo-icon {
  background-color: white;
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.7rem;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.navbar__logo-text {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -1.2px;
}

.navbar__menu-icon {
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar__menu {
  position: absolute;
  font-size: 1.6rem;
  top: 100%;
  left: 0;
  width: 100%;
  list-style-type: none;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.navbar__menu--active {
  height: calc(100vh - 6rem);
}

.navbar__item {
  padding: 1.2rem 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-border-color);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  & img {
    transition: filter 0.3s ease-in-out;
  }
  &:active,
  &:hover {
    background-color: var(--primary-border-color);
    color: var(--primary-blue);
    img {
      filter: invert(34%) sepia(100%) saturate(500%) hue-rotate(180deg);
    }
  }
}

.navbar__item-login {
  display: none;
}

.popover__container {
  padding: 1.8rem;
}

.popover {
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.popover__user {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    border-bottom: 1px solid var(--primary-border-color);
  }
}

.popover__user-options {
  display: flex;
  gap: 1.5rem;
}

.popover__user-options a {
  color: rgba(67, 132, 230, 1);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

@media (min-width: 768px) {
  .navbar {
    padding: 2.4rem;
    max-width: 1280px;
    margin: 0 auto;
  }

  .navbar__menu {
    display: flex;
    flex-direction: row-reverse;
    position: static;
    height: 100%;
    width: fit-content;
    justify-self: flex-end;
    color: var(--secondary-text);
  }

  .navbar__item {
    border-bottom: none;
    padding: 0 1.8rem;
    border-right: 2px solid var(--primary-border-color);
  }

  .navbar__item-login {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1.8rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    img {
      width: 1rem;
      height: 0.6rem;
      transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    }
    &:hover {
      background-color: var(--primary-border-color);
      color: var(--primary-blue);
      img {
        transform: rotate(180deg);
        filter: invert(34%) sepia(100%) saturate(500%) hue-rotate(180deg)
          brightness(90%) contrast(90%);
      }
    }
  }

  .popover {
    width: 21rem;
    font-size: 1.4rem;
    height: 8rem;
    z-index: 10;
    top: 100%;
    left: 0;
    position: absolute;
  }

  .navbar__item img {
    display: none;
  }

  .navbar__menu-icon {
    display: none;
  }

  .popover__container {
    display: none;
  }
}
