.container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 4rem 2rem 0;
}

.content__heading {
  font-weight: 600;
  font-size: 2.8rem;
  text-wrap: wrap;
}

.content__heading-gradient-text {
  background-image: linear-gradient(
    90deg,
    rgba(17, 115, 179, 1),
    rgba(12, 185, 179, 1)
  );
  background-clip: text;
  color: transparent;
}

.content__description {
  line-height: 2.4rem;
  text-wrap: stable;
  font-size: 1.4rem;
  color: var(--secondary-text);
}
.container::after {
  content: "";
  position: absolute;
  top: 42rem;
  left: 0;
  z-index: -10;
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  height: 4rem;
  background: linear-gradient(to right, var(--yellow-color), var(--red-color));
  transform: skewY(178deg);
}

.shadow-box-1 {
  display: none;
}

.shadow-box-2 {
  right: 0;
  top: 0;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--teritory-shadow);
  filter: blur(10rem);
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    flex-direction: row-reverse;
    padding: 0;
    gap: 5.6rem;
    height: calc(100vh - 7.68rem);
    justify-content: center;
  }

  .container::after {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    max-width: 1980px;
    margin: 0 auto;
    height: 4rem;
    z-index: 10;
    background: linear-gradient(
      to right,
      var(--yellow-color),
      var(--red-color)
    );
    transform: skewY(178deg);
  }

  .content {
    justify-content: center;
    height: 70%;
    margin: 0;
  }

  .content__heading {
    font-size: 4rem;
    font-weight: 500;
  }

  .content__description {
    font-size: 1.8rem;
  }

  .shadow-box-1 {
    display: block;
    height: 31rem;
    width: 31rem;
    position: absolute;
    top: 40%;
    right: 50%;
    z-index: -1;
    background-color: var(--secondary-shadow);
    border-radius: 50%;
    filter: blur(10rem);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shadow-box-2 {
    height: 22rem;
    border-radius: 50%;
    filter: blur(10rem);
    width: 22rem;
    top: -5rem;
    right: 0;
  }
}
